.Header {
  padding-bottom: 2%;
}

.Content {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  height: 100vh;
  background-color: #1976d2;
}

.Left {
  width: 50vw;
  height: 80vh;
}

.Right {
  width: 40vw;
  height: 80vh;
}

.HNContainer {
  height: 100%;
  overflow: auto;
  border: 1px solid;
  border-radius: 10px;
  background-color: white;
}

.TwitterContainer {
  height: 40%;
  overflow: auto;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 3%;
  background-color: white;
}

.NewsContainer {
  height: 55%;
  margin-top: 2%;
  overflow: auto;
  border: 1px solid;
  border-radius: 10px;
  background-color: white;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.story {
  width: 80%;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  text-align: left;
  align-items: center;
}

a:hover,
a:active {
  text-decoration: none;
}

.story-title {
  margin-bottom: 4px;
}
a:link,
a:visited {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

.story-info {
  color: grey;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

span {
  margin: 4px;
}
a {
  color: inherit;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 2rem;
  }

  .nav-link {
    flex-direction: column;
  }
  .story {
    width: 90%;
  }
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

table {
  border-collapse: separate;
  text-indent: initial;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  border-spacing: 2px;
  font-variant: normal;
}

.subtext {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
  color: #828282;
}

p {
  margin: 0;
  padding: 0;
}
