p {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

.Header {
  padding-bottom: 2%;
}

.Content {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  height: 92vh;
}

.Left {
  width: 50vw;
  height: 88vh;
  min-width: 500px;
}

.Center {
  width: 50vw;
  min-width: 500px;
  background-color: white;
  padding: "5%";
}

.Right {
  width: 40vw;
  height: 88vh;
}

.HNContainer {
  height: 100%;
  overflow: auto;
  border: 1px solid;
  border-radius: 10px;
  background-color: white;
}

.TwitterContainer {
  height: 40vh;
  overflow: auto;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 3vh;
  background-color: white;
}

.NewsContainer {
  height: 45vh;
  overflow: auto;
  border: 1px solid;
  border-radius: 10px;
  background-color: white;
}

.story {
  width: 80%;
  margin: 10px auto;
  border: solid rgb(239, 243, 244);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  text-align: left;
  align-items: center;
}

.story-title {
  margin-bottom: 4px;
}
a:link,
a:visited {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

.story-info {
  color: grey;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 2rem;
  }

  .nav-link {
    flex-direction: column;
  }
  .story {
    width: 90%;
  }
}

.subtext {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
  color: #828282;
}

.Center a {
  color: cornflowerblue;
}
